@value --breakpoints: '../../../styles/modules/breakpoints.module.css';
@value --bp-medium from --breakpoints;

.ctaWrapper {
	position: relative;
	z-index: 10;
}

.cta {
	inline-size: 5rem;
	block-size: 5rem;

	@media (width >= --bp-medium) {
		inline-size: 5.4rem;
		block-size: 5.4rem;
	}
}
