.container {
	--padding: var(--container-inline-padding);
	--container-plus-padding: calc(var(--container) + (var(--padding) * 2));
	--max-value: calc((var(--container-plus-padding) - 100%) / 2);

	inline-size: 100%;
	max-inline-size: var(--container);
	margin-inline: auto;
	padding-inline: min(var(--padding), max(0rem, var(--max-value)));
}
