@value type: '../../../styles/modules/typography.module.css';

.base {
	composes: typography from type;
}

.lightWeight {
	--weight: var(--font-weight-light);
}

.thinWeight {
	--weight: var(--font-weight-thin);
}

.regularWeight {
	--weight: var(--font-weight-regular);
}

.mediumWeight {
	--weight: var(--font-weight-medium);
}

.semiBoldWeight {
	--weight: var(--font-weight-semi-bold);
}

.boldWeight {
	--weight: var(--font-weight-bold);
}

.horizonText {
	--min: 36;
	--max: 64;

	font-family: var(--font-family-primary);
	line-height: 114%;
}

.landmarkText {
	--min: 24;
	--max: 34;

	font-family: var(--font-family-primary);
	line-height: 114%;
}

.pinnacleText {
	--min: 18;
	--max: 24;

	font-family: var(--font-family-primary);
	line-height: 114%;
}

.scriptText {
	--min: 18;
	--max: 22;

	font-family: var(--font-family-primary);
	line-height: 114%;
}

.whisperText {
	--min: 16;
	--max: 18;

	font-family: var(--font-family-primary);
	line-height: 140%;
}

.pulseText {
	--min: 14;
	--max: 14;

	font-family: var(--font-family-primary);
	line-height: 114%;
}
