.tabs {
	--tabs-background-color: var(--background-color);
	--tabs-foreground-color: var(--foreground-color);
}

.tabsDark {
	--tabs-background-color: #fff;
	--tabs-foreground-color: #000;
}

.tabsLight {
	--tabs-background-color: #000;
	--tabs-foreground-color: #fff;
}

.list {
	list-style-type: none;
	display: flex;
	flex-wrap: wrap;
	margin-block: 0 calc(var(--base-spacing) * 2.5);
	padding: 0;
}

.item {
	display: grid;
	min-inline-size: max-content;

	&:first-child .tab {
		border-start-start-radius: calc(var(--base-spacing) / 2);
		border-end-start-radius: calc(var(--base-spacing) / 2);
		border-inline-start: 2px solid var(--tabs-foreground-color);
		border-inline-end: 1px solid var(--tabs-foreground-color);
	}

	&:nth-child(n + 2) .tab {
		border-inline-start: 1px solid var(--tabs-foreground-color);
	}

	&:last-child .tab {
		border-start-end-radius: calc(var(--base-spacing) / 2);
		border-end-end-radius: calc(var(--base-spacing) / 2);
		border-inline-end: 2px solid var(--tabs-foreground-color);
	}
}

.tab {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	gap: var(--base-spacing);
	align-items: center;
	padding-block: calc(var(--base-spacing) * 1.5);
	padding-inline: calc(var(--base-spacing) * 3.5);
	border-block: 2px solid var(--tabs-foreground-color);
	color: var(--tabs-foreground-color);
	background-color: var(--tabs-background-color);
	text-align: center;
	text-decoration: none;

	&:focus-visible {
		outline: 3px solid var(--tabs-background-color);
		outline-offset: calc(var(--base-spacing) * -1);
	}

	@media (prefers-reduced-motion: no-preference) {
		transition:
			border-color 0.25s ease-in-out,
			background-color 0.25s ease-in-out,
			color 0.25s ease-in-out;
	}
}

.tab[aria-selected='true'] {
	color: var(--tabs-background-color);
	background-color: var(--tabs-foreground-color);

	@media (prefers-reduced-motion: no-preference) {
		&::before {
			transition: background-color 0.25s ease-in-out;
		}
	}
}

.panel {
	border-radius: calc(var(--base-spacing) / 4);

	&:focus-visible {
		outline: 3px solid var(--tabs-foreground-color);
		outline-offset: 3px;
	}
}
