@value --breakpoints: '../../../styles/modules/breakpoints.module.css';
@value --bp-medium_max from --breakpoints;

.list {
	display: flex;
	flex-wrap: wrap;
	gap: calc(var(--base-spacing) / 2);
	align-items: start;
	margin-block: 0;
	padding: 0;

	@media (width <= --bp-medium_max) {
		margin-block-start: calc(var(--base-spacing) * 3);
	}
}

.item {
	display: inline-flex;
	flex-direction: column;
	gap: var(--base-spacing);
}
