@value --breakpoints: '../../../styles/modules/breakpoints.module.css';
@value --bp-medium, --bp-large from --breakpoints;

.controls {
	display: grid;
	gap: calc(var(--base-spacing) * 2.5);

	@media (width >= --bp-large) {
		grid-column: span 7;
	}
}

.content {
	display: flex;
	flex-wrap: wrap;
	gap: calc(var(--base-spacing) * 1.5);
	align-items: flex-end;
}

.textInputs,
.rangeInputs {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(min(100%, 33rem), 1fr));
}

.textInputs {
	flex: 1;
	gap: calc(var(--base-spacing) * 1.5);
}

.saveColorsCta {
	inline-size: 5rem;
	block-size: 5rem;

	@media (width >= --bp-medium) {
		inline-size: 5.6rem;
		block-size: 5.6rem;
	}
}

.rangeInputs {
	gap: calc(var(--base-spacing) * 5);
}
