@value --breakpoints: '../../../styles/modules/breakpoints.module.css';
@value --bp-large from --breakpoints;

.controls {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(min(100%, 35rem), 1fr));
	gap: calc(var(--base-spacing) * 1.5);

	@media (width >= --bp-large) {
		grid-column: span 7;
	}
}

.control {
	display: grid;
	gap: calc(var(--base-spacing) * 2);
}
